.navbarra{ 
	padding: 5px;
	background: #2A2929;
	color: #fff; 
	
}
.navbarra .row h2{
	color: #fff ; 
	font-size: 1.4rem;
	margin-top: 20px;
}
.navbarra .button{ 
background-color: #008cba;

border-bottom: 5px solid;
border-color: #007295;
color: white; 
margin-top:10px;
margin-bottom: 10px;
}

.archivesection{
padding-top: 60px;
background: url('../img/backarchive.jpg');
background-size: cover;
padding-bottom: 60px;

}

.separatorphrase{
padding-top: 20px; 
background-size: cover;
padding-bottom: 16px;
background: #165B6F;
margin-bottom: 40px;
}
 .separatorphrase h3{
 	color: #fff;
 }

.archivecard{

border: 2px solid #969696;
background: #cdcdcd;
margin: 10px;
padding: 10px;
border-radius: 3px;

}
.archivecard p{
	line-height:  10px;
}
.archivecard .lixo{ 

border: 1px solid #E0F3FF;
}

body, h1,h2,h3,h4,h5{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.archiveicon{
	margin-top: 50px;
	padding:  20px;
	border-radius:  50%;
	border: 6px solid #1E86A5;
	background: #5CAFC8;
	color: #146E89;
}
.white{
	color: #fff;
	text-shadow: 0px 0px 8px #282A30;
}

.green{
	color: #9EF482;
	text-shadow: 0px 1px 12px #0C4C25;
	margin-top:15px;
}
.img-arquivo{

	width: 100%;
	height: auto;
	margin: 0px auto;
}